*{
    margin:0;
    padding:0;
}
.sign-container{
    width:80vh;
    margin:20px auto;
    border: 1px solid #000;
    border-radius: 10px 0px;
    padding:20px 20px;
}
.sign-container>h2{
    color:crimson;
    font-size: 30px;
    text-align: center;
    margin: 20px 0px;
}
.field{
    width:300px;
}
.btn-signup{
    margin: 10px auto;
    font-size: 20px;
    width: 80vh;
    color: white;
    height: 60px;
    background-color:#101010;
    border-radius: 5px 0px;
}
.dob-field{
    margin: 20px 0px;
    width:150px;
    height:40px;
    border-radius: 5px 0px;
    border-color: chartreuse;
}
.dob-label{
    margin:20px 10px;
    font-size: 20px;
    color:blue;
}
.Add-field{
    margin:10px 0px;
    width:120px;
    height:50px;
    background-color:darkgreen;
    border-radius: 2px;
    color:antiquewhite;
}